[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js/
[submodule "inkscape-export-layers"]
	path = inkscape-export-layers
	url = https://github.com/tkf/inkscape-export-layers
